{% extends 'app/base.html' %}
    
    {% block navigation %}
          <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#"><h5 class="text-info">Крамниця Appway</h5></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Додому</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="products.html">Продукти
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock navigation %}
    
    
    {% block content %}
          <!-- Page Content -->
    <!-- Items Starts Here -->
    <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Products</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="featured container no-gutter">

        <div class="row posts">
          
          {% for product in products %}
            <div id="{{product.id}}" class="item new col-md-4">
              <a href="{% url 'app:product_detail' id=product.id %}">
                <div class="featured-item">
                  <img src="{{product.image.url}}" alt="{{product.name}}">
                  <h4>{{product.name}}</h4>
                  <h6>{{product.price}}</h6>
                </div>
              </a>
            </div>
          {% endfor %}
            
        </div>
    </div>
    {% endblock content %}
